.cyber-page{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  background-image: url('C:\Users\thaan\OneDrive\Desktop\Full Stack\myapp\src\assets\loginpage.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}
.cyber-crime-report-container {
    text-align: center;
    padding: 20px;
    width:50%;
    margin-left: 350px;
    background-color: rgba(255, 255, 255, 0.581);
   

  }
  
  .header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 300px;

  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .form-container {
    flex: 1;
    min-width: 300px;
    margin-right: 120px;
  }
  
  .resources-container {
    flex: 1;
    min-width: 300px;
    margin-left: 20px;
  }
  
  .resources-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .resources-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resources-container li {
    margin-bottom: 10px;
  }
  
  .resources-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .resources-container a:hover {
    text-decoration: underline;
  }
  