.fitness-page{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  background-image: url('https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}
.fitness-tips-container {
    text-align: center;
    padding: 20px;
    color:white;
    background-color: rgba(255, 255, 255, 0.611);
    border-radius:20px ;
  }
  
  .header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color:rgb(0, 0, 0);

  }
  
  .tips-container {
    text-align: left;
    margin-top: 20px;
    color:white;

  }
  
  .tips-container ul {
    list-style-type: none;
    padding: 0;
    color:rgb(255, 255, 255);

  }
  
  .tips-container li {
    margin-bottom: 10px;
    color:rgb(0, 0, 0);

  }
  